<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Relevant Key Bindings in SG-->
    <!--It is essential that the keys here match the bindings that you have in SG-->
    <!--All key settings must be as they are for System.Windows.Forms.Keys-->
    <!--This list can be checked here msdn.microsoft.com/en-us/library/system.windows.forms.keys.aspx-->
    <add key="SG LP keyboard input" value="A" />
    <add key="SG LK keyboard input" value="Z" />
    <add key="SG MP keyboard input" value="S" />
    <add key="SG Right keyboard input" value="Right" />
    <add key="DefaultDisplayHitboxes" value="False" />
    <add key="DefaultDisplayInputs" value="False" />
    <add key="DefaultDisplayAttackData" value="False" />
    <!--SG Pointers-->
    <add key="SGMenuState" value="3934232" />
    <!--Relevant Key Bindings in ROA-->
    <add key="ROA Start keyboard input" value="Return" />
    <add key="ROA L keyboard input" value="A" />
    <!--ROA Pointers-->
    <add key="ROAMenuState" value="0x3486548" />
    <add key="ROACursorX" value="0x03486520,0x80,0xA0" />
    <add key="ROACursorY" value="0x03486520,0x80,0xA4" />
    <!--Relevant Key Bindings in BBTag-->
    <add key="BBTag Up keyboard input" value="W" />
    <add key="BBTag Confirm keyboard input" value="J" />
    <add key="BBTag Gauge keyboard input" value="U" />
    <add key="BBTag Window keyboard input" value="I" />
    <add key="BBTag Hide Gauge" value="False" />
    <add key="BBTag Hide Window" value="True" />
    <!--BBTag Pointers-->
    <add key="BBTagReplayTheaterActive" value="0x172FEC8" />
    <add key="BBTagReplayPlaying" value="0x5FE488" />
    <add key="BBTagCursor" value="0x10CBD58" />
    <!--Relevant Key Bindings in GGXrd-->
    <add key="GGXrd Confirm keyboard input" value="U" />
    <add key="GGXrd Window keyboard input" value="I" />
    <add key="GGXrd HUD keyboard input" value="J" />
    <add key="GGXrd Inputs keyboard input" value="L" />
    <add key="GGXrd Hide Window" value="True" />
    <add key="GGXrd Hide HUD" value="False" />
    <add key="GGXrd Hide Inputs" value="False" />
    <!--GGXrd Pointers-->
    <add key="GGXrdMenuState" value="0x177FB8C" />
    <add key="GGXrdOutroPlaying" value="0x1937DEC" />
    <add key="GGXrdCursor" value="0x0173A670,0x14,0x4,0x60,0x1BC" />
    <!--Default Settings on Load-->
    <add key="DefaultNumberOfReplays" value="1" />
    <add key="DefaultRecordHotkey" value="" />
    <add key="DefaultStopHotkey" value="" />
    <add key="DefaultGame" value="Skullgirls" />
    <add key="LastTimePointersUpdated" value="15/5/20" />
  </appSettings>
</configuration>