<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Relevant Key Bindings in SG-->
    <!--It is essential that the keys here match the bindings that you have in SG-->
    <!--All key settings must be as they are for System.Windows.Forms.Keys-->
    <!--This list can be checked here msdn.microsoft.com/en-us/library/system.windows.forms.keys.aspx-->
    <add key="SG LP keyboard input" value="A" />
    <add key="SG LK keyboard input" value="Z" />
    <add key="SG MP keyboard input" value="S" />
    <add key="SG Right keyboard input" value="Right" />
    <add key="DefaultDisplayHitboxes" value="False" />
    <add key="DefaultDisplayInputs" value="False" />
    <add key="DefaultDisplayAttackData" value="False" />
	
    <!--Relevant Key Bindings in ROA-->
    <add key="ROA Up keyboard input" value="Up" />
    <add key="ROA Down keyboard input" value="Down" />
    <add key="ROA Left keyboard input" value="Left" />
    <add key="ROA Right keyboard input" value="Right" />
    <add key="ROA Start keyboard input" value="Return" />
    <add key="ROA L keyboard input" value="A" />
	
    <!--Default Settings on Load-->
    <add key="DefaultNumberOfReplays" value="1" />
    <add key="DefaultRecordHotkey" value="" />
    <add key="DefaultStopHotkey" value="" />
    <add key="DefaultGame" value="Skullgirls" />
  </appSettings>
</configuration>